body {
  margin: 30px;
}
h1 {
  font-size: 30px;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 20px;
}

p {
  font-size: 20px;
}

@media screen and (min-width: 414px) {
  body {
    background-color: burlywood;
    margin: 20px;
  }

  p {
    font-size: 15px;
  }

  figure {
    float: left;
    max-width: 45%;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: cadetblue;
    max-width: 1200px;
    margin: 25px;
  }

  p {
    font-size: 25px;
  }
}